#container a {
    text-decoration: none;
}

#firstText{
    padding: 3%;
    font-weight: 300;
    font-size: 1em;
    // color: #F6B844;
}

#img{
    padding-left: 3%;
    right: 50%;
}

// .cardStyle{
// }

#cityName{
    color: white;
    font-weight: 300;
    font-size: 3em;
    padding-left: 3%;
}

#temp{
    font-weight: 300;
    font-size: 3em;
    margin: 5px;
    padding-left: 3%;
}

#locationIcon{
    color: #F6B844;
    padding-left: 3%;

}